/* =========================
   GOOGLE FONT SETTINGS
========================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

font-family:'Poppins',sans-serif;
background:#050505;
color:white;
overflow-x:hidden;

}

/* BACKGROUND */

.night{

position:fixed;
width:100%;
height:100%;
left:0;
top:0;
background:
linear-gradient(to bottom,#050505,#1a0008,#320010);
overflow:hidden;
z-index:-5;

}

/* MOON */

.moon{

position:absolute;

top:60px;
right:8%;

width:160px;
height:160px;

border-radius:50%;

background:#fff7d1;

box-shadow:

0 0 50px #fff4b0,
0 0 100px gold,
0 0 180px rgba(255,215,0,.4);

}

/* HERO */

#hero{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

}

#hero h1{

font-family:'Great Vibes',cursive;

font-size:70px;

color:#ffd86b;

text-shadow:

0 0 25px gold;

margin-bottom:25px;

}

#typingText{

max-width:750px;

font-size:20px;

line-height:1.8;

color:#f7e6d0;

}

button{

margin-top:40px;

padding:16px 35px;

border:none;

border-radius:50px;

background:linear-gradient(45deg,#700020,#d4af37);

color:white;

font-size:18px;

cursor:pointer;

transition:.4s;

}

button:hover{

transform:scale(1.08);

box-shadow:0 0 25px gold;

}

/* GLASS EFFECT */

section{

background:rgba(255,255,255,.05);

backdrop-filter:blur(12px);

border:1px solid rgba(255,215,0,.2);

border-radius:25px;

margin:60px auto;

width:90%;

padding:60px;

box-shadow:

0 10px 40px rgba(0,0,0,.5);

}
